html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, blockquote, code, img,
ol, ul, li, form, input,
select, button, article,
aside, canvas, footer, header,
hgroup, menu, nav, section,
time, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

input:focus, button:focus,
select:focus {
	outline: 0;
}

article, aside, footer,
header, hgroup, menu,
nav, section {
	display: block;
}

.clear {
	clear: both;
}